In [1]:
import pandas as pd

file = "Resources/Caffeine/caffeine.csv"
file = pd.read_csv(file)
file.head()

                         drink  Volume (ml)  Calories  Caffeine (mg)    type
0                 Costa Coffee   256.993715         0            277  Coffee
1  Coffee Friend Brewed Coffee   250.191810         0            145  Coffee
2           Hell Energy Coffee   250.191810       150            100  Coffee
3           Killer Coffee (AU)   250.191810         0            430  Coffee
4                 Nescafe Gold   250.191810         0             66  Coffee

In [2]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   drink          610 non-null    object
 1   Volume (ml)    610 non-null    float64
 2   Calories       610 non-null    int64
 3   Caffeine (mg)  610 non-null    int64
 4   type           610 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 24.0+ KB

In [3]:
file['type'].value_counts()

Energy Drinks    219
Coffee           173
Soft Drinks       90
Tea               66
Energy Shots      36
Water             26
Name: type, dtype: int64

In [4]:
file.describe()

       Volume (ml)    Calories  Caffeine (mg)
count   610.000000  610.000000     610.000000
mean    346.543630   75.527869     134.693443
std     143.747738   94.799919     155.362861
min       7.393375    0.000000       0.000000
25%     236.588000    0.000000      50.000000
50%     354.882000   25.000000     100.000000
75%     473.176000  140.000000     160.000000
max    1419.528000  830.000000    1555.000000

In [5]:
type_group = file.groupby(["type"])
print(type_group)

type_group.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EBD3A60640>

               drink  Volume (ml)  Calories  Caffeine (mg)
type
Coffee           173          173       173            173
Energy Drinks    219          219       219            219
Energy Shots      36           36        36             36
Soft Drinks       90           90        90             90
Tea               66           66        66             66
Water             26           26        26             26